.coral{
    color: #f8571c;
}
.bg-coral{
    background-color: #f8571c;
}

#tsparticles{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}




@media screen and (max-width:600px) {
    
    /* Home Page */
    .ml-64{
        margin: 0;
    }

    .text-align{
        text-align: center;
    }

    /* About Page */

    .ml-44{
        margin-left: 10px;
        margin-right: 10px;
    }

    .ml-12{
        margin: 0;
    }
}