.css:hover{
    text-decoration: underline coral 4px;
    background: none !important;
    color: coral;
}

.css:focus{
    color: #fc703e;
    text-decoration: underline coral 4px;
    background: none !important;
}

